<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Bildung</h2>    
                </div>
            </div>
        <div class="abstandKlein">
                   
        </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <iframe class="iFrameGoogleMaps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1054.7403925725255!2d8.185129295128174!3d47.25339369822557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4790193dbd7f73f7%3A0x3bae1a70c4279277!2sNeumattschulhaus!5e1!3m2!1sde!2sch!4v1536767235440" alt="" allowfullscreen></iframe>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2015</h4>
                                        <a id="bildungSubHeading" href="https://goo.gl/maps/dszf2Dc25f22">Bezirkschule Reinach</a>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In der Bezirkschule kam ich zum ersten Mal in Kontakt mit Informatik. Ich belegte damals bereits ein Freifach und mehrere Ferienjobs in dieser Branche absolviert.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <iframe class="iFrameGoogleMaps" src="https://www.google.com/maps/embed?pb=!1m17!1m11!1m3!1d1426.7401354299038!2d0.2876080881752155!3d50.7670935555913!2m2!1f0!2f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47df73f74aba3f8d%3A0x110b9b271025d0df!2sDidac+School+Eastbourne!5e1!3m2!1sde!2sch!4v1536768443024" alt="" allowfullscreen></iframe>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-2016</h4>
                                    <a id="bildungSubHeading" href="https://goo.gl/maps/esASxFoPysv">Didac School Eastbourne</a>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In England bestritt ich verschiedene Sprachdiplom Prüfungen. Ich erhielt das Certificat in Advanced English sowie das DELF B2. Ich belegte Informatik, wo wir viel mit Photoshop arbeiteten. Ich konnte viele neue Kontakte knüpfen. Meine Gasteltern sehe ich immer noch regelmässig per Skype oder gegenseitigen Besuchen.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <iframe class="iFrameGoogleMaps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1087.9935036209379!2d8.054015165063415!3d47.39370954294632!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd9ec3829ae21e02a!2sAlte+Kantonsschule+Aarau!5e1!3m2!1sde!2sch!4v1536768646831" alt="" allowfullscreen></iframe>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016-2018</h4>
                                    <a id="bildungSubHeading" href="https://goo.gl/maps/cez3TjPb5fN2">Alte Kantonsschule Aarau</a>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Die Informatikmittelschule fordert ein breites Allgemeinwissen und eine schnelle Auffassungsfähigkeit. Man muss rasch Neues lernen können und selbstständig arbeiten können.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <iframe class="iFrameGoogleMaps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4185.156147669946!2d8.29895821629527!3d47.4806295791765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47906cbe7e0a7819%3A0xcff6da9963868691!2sBBBaden!5e1!3m2!1sde!2sch!4v1536768904700" alt="" allowfullscreen></iframe>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016-2018</h4>
                                    <a id="bildungSubHeading" href="https://goo.gl/maps/5QQVaKi4zAq">BBBaden</a>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Gleichzeitig zum Unterricht in Aarau, gehe ich in die Berufsschule als Informatiker Fachrichtung Applikationsentwicklung. In der Berufschule wird vorallem logisches denken gebraucht. An der BBBaden lernt man aber auch selber Ideen sammeln und diese schlussendlich auch umsetzten.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <iframe class="iFrameGoogleMaps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d403.6942202609942!2d7.263484640858503!3d43.70083387171589!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cdd009d6914889%3A0xb145102c37f38b3a!2sAlpha-b+Franz%C3%B6sisch+Sprachschule!5e1!3m2!1sde!2sch!4v1536770079575"  alt="" allowfullscreen></iframe>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September-Oktober 2018</h4>
                                    <a id="bildungSubHeading" href="https://goo.gl/maps/faiS4thomCm">Sprachaufenthalt Nizza</a>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Im Herbst 2018 machte ich einen 4 wöchgien Sprachaufenthalt in Nizza. Dort besuchte ich in den ersten zwei Wochen einen Intensivkurs Französisch. Ab der dritten Woche absolvierte ich ein Praktikum im Bereich Administration.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Sommer
                                    <br>2019
                                    <br>Praktikum</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>