<!-- Team Section -->
    <section id="team" class="bg-light-gray">
         
        <div class="container">
            <div class="row">
                {% for member in site.people %}
                
                    <div class="team-member">
                        <h1 class="text-primary">{{ member.name }}</h1>
                        <div class="abstandKlein"></div>

                        <img src="img/team/{{ member.pic }}.jpg" class="img" alt="">

                        <div id="marginMember">
                        <h4 class="text-muted">{{ member.position }}</h4>
                        <h4 class="text-muted">Bergstrasse 669</h4>
                        <h4 class="text-muted">5728 Gontenschwil</h4>
                        </div>
                        <!-- <ul class="list-inline social-buttons">
                            {% for line in member.address %}
                            <li>
                                <a href="{{network.line}}"></a>

                                <a href="{{ line.url }}">
                                    <i class="fa fa-{{ address.line }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul> -->
                        <!-- <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul> -->
                    </div>
                {% endfor %}
            </div>
            
        </div>
    </section>