<script src="js/typeWriter.js">
	
	typeWriter("#demo","true",20);

</script>

<section id="titel">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">		
	
				<h1 class="line-1  anim-typewriter">Willkommen!</h1>

				<!-- <h1 class="type"></h1>
				<script type="text/javascript" src="typed.js"></script>
					<script type="text/javascript">	
						$(function(){
							var typed3 = new Typed('#typed3', {
						    strings: ['My strings are: <i>strings</i> with', 'My strings are: <strong>HTML</strong>', 'My strings are: Chars &times; &copy;'],
						    typeSpeed: 0,
						    backSpeed: 0,
						    smartBackspace: true, // this is a default
    						loop: true
 						 	});
						});
					</script> -->

			</div>
		</div>
	</div>
	

</section>