<script src="typeWriter.js">
	
	typeWriter("#demo","true",20);

</script>

<script type="typed.js">
	
	$(function(){
		$("#typing_text").typed({
		strings: ["Wilkommen auf meiner Webseite"],
		typeSpeed:0
	});
});
</script>

<section id="titel">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">		
	
				<h1 class="line-1  anim-typewriter">Willkommen auf meiner Webseite</h1>

			</div>
		</div>
	</div>

	<div id="main1">
		<p id="typing_text"></p>	
  	</div>

</section>